* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html {
    font-size: 62.5%;
}

/* Resetear los márgenes y relleno para el cuerpo de la página */
body,
ul {
    transition: background-color 0.4s, color 0.4s;
    margin: 0;
    padding: 0;
}

.container-top {
    background-color: rgb(90, 90, 90);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.header-left .redes {
    display: flex;
    justify-content: left;
    gap: 2rem;
}

.redes li {
    font-family: 'Roboto', sans-serif;
    list-style: none;
    font-size: 1.5rem;
}

.header-left .redes a{
    text-decoration: none;
    color: white;
}

.header-left .redes:hover a{
 color: #338ccc;
}
/********************************************************************************/
.header-right .redes {
    display: flex;
    justify-content: left;
    gap: 2rem;
}

.header-right .redes a{
    display: inline-block;
    width: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border-radius: 50%;
    color: #FFFFFF;
    transition: all .5s ease;
}

.header-right a i {
    font-size: 1em;
    margin: 0.5rem 0.2rem;
    color: #fdf7f7;
}


.header-right .redes:hover a i{
    color: rgb(153, 204, 230);
}

/* Estilos para modo *************************************** */
.app {
    width: 4rem;
    height: 2rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
    background-image: linear-gradient(#444444, #bfbec2);
}

.app:hover {
    transform: scale(1.2);
}
/************************************************************************************************************/
.light-mode {
    background-color: white;
    color: #333;
}

/* Estilos para modo claro */
.light-mode .machine-modal {
    background-color: white;
    color: #333;
}

/* Estilos para modo oscuro */
.dark-mode {
    background-color: #333;
    color: white;
}

/* Estilos para modo oscuro */
.dark-mode .machine-modal {
    background-color: #333;
    color: white;
}


/*******************************************************************************************************************/
/* Estilos de la barra de navegación */
.navbar {
    background-color: rgba(54, 53, 53, 0.98);
}

/* Centrar y separar el contenido de la barra de navegación */
.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-links li:hover {
    background-color: #80808080;
}

.nav-links li:hover a {
    color: rgb(153, 204, 230);
}

.logo div {
    display: flex;
    justify-content: center;
    width: 7rem;
    height: 7rem;
    gap: 1rem;
}

/* Estilos para el logo */
.logo img {
    width: 90%;
}

.logo h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 3rem;
    font-style: italic;
    padding-top: 1.2rem;
    color: white;
}

/* Estilos para los elementos de navegación */
.nav-links {
    width: 1025px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
}

.nav-links li {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.menu-item {
    position: relative;
    text-align: center;
    padding-top: 2.5rem;
    width: 18rem;
    height: 6.8rem;
    /* margin-right: 20px; Espacio entre elementos del menú */
}

.menu-item:hover {
    display: block;
    /* Mostrar el menú desplegable al pasar el mouse */
}

.sublimado-display {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.card-content h2 {
    font-size: 1.5rem;
    font-weight: 100;
}

.card-content img {
    width: 25rem;
}

.machine-modal {
    position: absolute;
    top: 100%;
    right: calc(110% - (1492px/2));
    z-index: 1000;
    float: left;
    min-width: 16rem;
    height: 25rem;
    padding: 5px 0;
    display: none;
    margin: 0 auto;
    font-size: 14px;
    list-style: none;
    background-color: #eae8e8;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.impUV {
    right: calc(140% - (690px/2));
}

.sublimado {
    right: calc(236% - (732px/2));
}
/*****************************************************************************************************************/
/**************************************************************************************/
.home-gallery{
    background: rgb(89, 89, 89);
    width: 100%;
    height: 440px;
    text-align: center;
    /*padding: 0px 30px 30px*/
}
.home-gallery h3 {
    font-family: SFCompactDisplay-Medium;
    font-size: 50px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 60px;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
}

/***********************************************************************************************/
.footer-redes{
    background-color: rgb(39, 109, 155);
    width: 100%;
    height: 200px;
    padding: 5rem;
}

.footer-redes h3{
    text-align: center;
    font-size: 40px;
    color: white;

}

.link-redes{
    display: flex;
    justify-content: center;
    color: white;
    /* padding: 5rem; */
}

.link-redes a i {
    font-size: 3em;
    margin: 10px;
    color: #fdf7f7;
}

.link-redes a {
    display: inline-block;
    min-height: 50px;
    width: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 30%;
    color: #fdf7f7;
    transition: all .5s ease;
}

.link-redes a:hover {
    background-color: #81a8b5;
}


/*****************************************************************************************/
.footer {
    background-color: #3e4346;
    padding: 8rem 0;
    height: 500px;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-column {
    flex-basis: calc(25% - 20px);
    padding: 20px;
}

.footer-about div{
    display: flex;
    justify-content: flex-start;
    margin: -1.5rem 0rem 3.6rem 1rem;
    padding-left: 1rem;
}

.footer-about div h4{
    color: aliceblue;
    font-size: 2rem;
    padding: 1.8rem 0 0 0.5rem;
}

.footer-about img{
    width: 20%;
}

.footer-links{
    width: 20%;
    padding: 0 15px;
}

.footer-links li{
    list-style: none;
}


.footer-links h3 {
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 3px solid #00C3FF;
    padding-bottom: 10px;
    display: inline-block;
}


.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover {
color: #00C3FF;
transform: scale(1.1);

}

.footer-links {
    width: 100%;
    margin-bottom: 30px;
}

.footer-column {
    margin-bottom: 20px;
  }

  /* Aumenta el tamaño de los inputs y textarea */
  .footer-links input[type="text"],
  .footer-links input[type="email"],
  .footer-links input[type="phone"],
  .footer-links textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 0.800px solid rgba(255, 255, 255, 0.2);
    background-color: #3e4346;
    box-sizing: border-box;
    cursor: pointer;
  }

  /* Asegúrate de que el botón también tenga suficiente espacio */
  .btn-toolbar button{
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 100%;
    text-transform: capitalize;
    padding: 10px;
    background: rgb(55, 148, 205);
    border-width: 1px;
    border: 0.800px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .btn-toolbar button:hover{
    background-color: rgb(28, 28, 33);
    color: #00aaff;
  }

  .icono-mapa{
    background-image: url(./imagenes/mapa.png);
  }

  /*redes de la izquierda de main*/
.elements-lists{
    height: 0px;
    position: fixed;
}

span.elements-social-icon a, span.elements-social-icon {
    color: rgb(255, 255, 255);
    float: start;
    position: relative;
    text-align: center;
    line-height: 53px;
    font-size: 5rem;
    transition: all 0.5s ease;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}

.elements-social-icon {
    position: relative;
    display: inline-block;
    padding: 0 0.5rem 0 0 ;
    line-height: 53px;
    font-size: 5rem;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    overflow: visible; /* Ajusta el overflow para mostrar la franja */
}

.elements-social-icon a {
    color: rgb(255, 255, 255);
    text-align: center;
    display: block;
    z-index: 2; /* Coloca el enlace por encima de la franja */
}

.elements-social-icon .button-text {
    font-size: 2rem;
    border-radius: 0 10px 10px 0;
    position: absolute;
    top: 0;
    left: -200px; /* Posición inicial fuera de la vista */
    width: 200px;
    height: 100%;
    background-color: rgb(46, 184, 117);
    color: #fff;
    line-height: 53px;
    text-align: center;
    transition: left 1s ease;
    z-index: 1; /* Coloca la franja por encima del enlace */
}

.elements-social-icon .button-text2{
    background-color:  rgb(49, 154, 196);
}


.elements-social-icon .button-text3{
    background-color:  rgb(208, 81, 67);
}

.elements-social-icon:hover .button-text {
    left: 0; /* Muestra la franja al pasar el mouse */
    transition: left 1s ease; /* Elimina el delay en la vuelta */
}

/**BARRRAAAAA DE VIDEOOSSSSSSSSSSSSSSSSSSSSSSSSS*/
  /*CATEGORIAS CSS */
.categorias {
    padding: 35px 70px;
    background: rgb(28, 28, 33);
    width: 100%;
    text-align: center;
}

.categorias h3 {
    color: white;
    font-size: 2.5rem;
}

.categorias a{
    padding: 6px 30px;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    background: linear-gradient(rgb(46, 138, 184) 0%, rgb(67, 152, 208) 100%) rgb(46, 138, 184);
    display: inline-block;
    border-right: 1px solid rgb(77, 77, 77);
    color: rgb(255, 255, 255);
    margin: 40px;
    transition: background-color 0.3s color  rgb(77, 77, 77); 
}

.contenedor-cartas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cartas {
    width: 23%;
    margin-bottom: 20px;
}

.cartas img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-top: 10px;
    background-color: #7d7b7b;
    object-fit: contain;  
}
