


/*Inicio css Slider */

.banner {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  
  .slider img {
    min-width: 100%;
    height: auto;
  }
  
  .slider-controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .navegadores {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .prev-btn,
  .next-btn {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
/*Fin css Slider*/


 