* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html {
    font-size: 62.5%;
}
/* Estilos compartidos para íconos de redes sociales */
.container-top {
    background-color: rgb(90, 90, 90);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.redes {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.redes li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
    display: inline-flex;
    align-items: center;
    font-size: 1.5rem;
}

.redes li:hover a {
    color: #338ccc;
}

/* Estilos específicos para íconos de redes sociales en la parte superior derecha */
.header-right .redes a {
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border-radius: 50%;
    color: #FFFFFF;
    transition: color 0.5s ease, background-color 0.5s ease;
    justify-content: center;
}
/*******************************************************************************************************************/
/* Estilos de la barra de navegación */
.navbar {
    background-color: rgba(54, 53, 53, 0.98);
}

/* Centrar y separar el contenido de la barra de navegación */
.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-links li:hover {
    background-color: #80808080;
}

.nav-links li:hover a {
    color: rgb(153, 204, 230);
}

.logo div {
    display: flex;
    justify-content: center;
    height: 7rem;
    gap: 1rem;
}

/* Estilos para el logo ******************************************************************************************/
.logo img {
    width: 70%;
}

.logo h2 {
    font-weight: 900;
    font-size: 3rem;
    font-style: italic;
    padding-top: 1.6rem;
    color: white;
}

/* Estilos para los elementos de navegación */
.nav-links {
    width: 1025px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
}

.nav-links li {
    font: 400 1.6rem 'Roboto', sans-serif;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.menu-item {
    position: relative;
    text-align: center;
    padding-top: 2.5rem;
    width: 18rem;
    height: 6.8rem;
    transition: display 0.3s ease;
}

.menu-item:hover .machine-modal{
    display: block;
    /* Mostrar el menú desplegable al pasar el mouse */
}

.sublimado-display {
    display: flex;
    /*justify-content: space-between;*/
    gap: 3rem;
}

/*.card-content h2 {
    font: 1.2rem;
}*/

.card-content img {
    width: 25rem;
}

.machine-modal {
    position: absolute;
    top: 100%;
    right: calc(110% - (1492px/2));
    z-index: 1000;
    float: left;
    min-width: 16rem;
    height: 25rem;
    padding: 5px 0;
    display: none;
    margin: 0 auto;
    font-size: 14px;
    list-style: none;
    background-color: #eae8e8;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.impUV {
    right: calc(140% - (690px/2));
}

.sublimado {
    right: calc(236% - (732px/2));
}
/************GALERIA DE VIDEOS*****************************************************************************************************/
.gallery-videos{
    background: rgb(89, 89, 89);
    width: 100%;
    height: 440px;
    text-align: center;
    /*padding: 0px 30px 30px*/
}
.gallery-videos h3 {
    font-family: SFCompactDisplay-Medium;
    font-size: 50px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 60px;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
}

/*************SIGUENOSSSSSSS**********************************************************************************/
.siguenos{
    background-color: rgb(39, 109, 155);
    height: 200px;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.siguenos h3{
    font-size: 40px;
}

.link-redes{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.link-redes a i {
    font-size: 3em;
    margin: 10px;
    color: #fdf7f7;
}

.link-redes a {
    display: inline-block;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    width: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 30%;
    color: #fdf7f7;
    transition: all .5s ease;
}

.link-redes a:hover {
    background-color: #81a8b5;
}


/*****************FOOTERRRRRRRRRRR************************************************************************/
.footer {
    background-color: #3e4346;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8rem 2rem;
    height: 500px;
}

.container {
    width: 100%;
    margin-top: 50px;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-column {
    flex-basis: calc(25% - 20px);
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.footer-about div{
    display: flex;
    align-items: center;
    margin: -1.5rem 0 3.6rem 1rem;
    padding-left: 1rem;
}

.footer-about div h4{
    color: aliceblue;
    font-size: 2rem;
    padding: 1.8rem 0 0 0.5rem;
}

.footer-about img{
    width: 20%;
}

.footer-links, .btn-toolbar{
    width: 100%;
   margin-bottom: 30px;
}

.footer-links li{
    list-style: none;
}

.footer-links h3 {
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 3px solid #00C3FF;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover {
color: #00C3FF;
transform: scale(1.1);

}
  /* Aumenta el tamaño de los inputs y textarea */
  .footer-links input[type="text"],
  .footer-links input[type="email"],
  .footer-links input[type="phone"],
  .footer-links textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 0.900px solid rgba(30, 29, 29, 0.2);
    background-color: #3a3c3d;
    box-sizing: border-box;
    cursor: pointer;
  }
  /* Asegúrate de que el botón también tenga suficiente espacio */
  .btn-toolbar button{
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    padding: 10px;
    background: rgb(55, 148, 205);
    border-width: 1px;
    border: 0.800px solid rgba(65, 65, 65, 0.2);
    cursor: pointer;
    transition: 0.3s, color 0.3s;
  }

  .btn-toolbar button:hover{
    background-color: rgb(28, 28, 33);
    color: #00aaff;
  }
  /*redes de la izquierda de main************************************************************/
.elements-lists {
    position: fixed;
    top: 25rem;
}

.elements-social-icon {
    position: relative;
    display: inline-block;
    padding: 0 0.5rem 0 0;
    line-height: 45px;
    width: 40px;
    font-size: 3.5rem;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    overflow: visible;
    transition: all 0.5s ease;
}

.elements-social-icon a {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
    display: block;
    z-index: 1;
}

.elements-social-icon .button-text {
    font-size: 2rem;
    border-radius: 0 10px 10px 0;
    position: absolute;
    top: 0;
    left: -200px;
    width: 150px;
    height: 100%;
    background-color: rgb(46, 184, 117);
    color: #fff;
    text-align: center;
    transition: left 1s ease;
    z-index:-1;
}

.elements-social-icon .button-text2, .elements-social-icon .button-text3 {
    background-color: rgb(49, 154, 196);
}

.elements-social-icon .button-text3 {
    background-color: rgb(208, 81, 67);
}

.elements-social-icon:hover .button-text {
    left: 0;
}
/*GALERIA DE VIDEOS************************************************************************************************/
.home-gallery{
    background: rgb(89, 89, 89);
    width: 100%;
    height: 440px;
    text-align: center;
}

.swiper-container {
    width: 100%;
    overflow: hidden;
}

.swiper-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Ajusta la duración de la transición */
}

.swiper-slide {
    flex: 0 0 calc(100% / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.swiper-slide button{
    height: 30px;
    width: 120px;
    border-radius: 15px;
    border: none;
    font-weight: 600;
}

.swiper-slide p{
    margin-top: 1.8rem;
    font-size: 20px;
}

.swiper-slide iframe,
.swiper-slide video {
    max-width: 100%;
    max-height: 100%;
}
  /*CATEGORIAS CSS ****************************************************************************************/
.categorias {
    padding: 35px 70px;
    background: rgb(45, 45, 48);
    width: 100%;
    text-align: center;
}

.categorias h3 {
    color: white;
    font-size: 2.5rem;
}

.categorias .ver-todos{
    padding: 6px 30px;
    font-size: 20px;
    background: linear-gradient(rgb(46, 138, 184) 0%, rgb(67, 152, 208) 100%) rgb(46, 138, 184);
    display: inline-block;
    border-right: 1px solid rgb(77, 77, 77);
    color: white;
    margin: 40px;
    transition: transform 0.3s, 0.3s, color 0.3s;
}

.categorias .ver-todos:hover{
  color: rgb(28, 28, 33);
  background: linear-gradient(to right, #5ab0ed, #a3d8e9);
  transform: scale(1.1);
}

.contenedor-cartas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cartas {
    width: 23%;
    margin-bottom: 20px;
}

.cartas img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-top: 10px;
    background-color: #e1dcdc;
    object-fit: contain;  
}

.cartas a{
    text-decoration: none;
    font: 400 2rem rocoto;
   color: white;
   transition: 0.3s;
}

.cartas a:hover {
    color: #00C3FF;
}