* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@media(min-width:1500px){
.footer-contenedor{
    width:1470px;

}
}
    
@media(min-width:1100px){
.footer-contenedor{
    width:1100px;
    
    }
}
   
@media(min-width:968px){
    .footer-contenedor{
        width:968px;
        
        }
    }


body{
    /* line-height: 1.5; */
    font-size: 14px;
}

.footer-contenedor{
        padding-left: 15px;
        padding-right: 15px;
        margin-right: auto; 
        margin-left: auto;
        display: flex;
        width: 1460px;
        height: 373px;
    }
    

.footer{
    background-color: #333;
    color: #fff;
    /* padding: 20px; Altura de footer */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0 0;
}


.footer-columna:nth-child(1){
    width: 25%;/*porque son 4*/
    padding-left: 0;
    padding-right: 15px;
  
}

.footer-columna:nth-child(1) li{

    padding-bottom: 20px;
}

.footer-contenedor img{
    width: 132px;
    height: auto;
    padding: 20px 0 40px 0;
}



.footer-columna:nth-child(2),.footer-columna:nth-child(3){
    /* background-color: aqua; */
    width: 25%;/*porque son 4*/
    /* padding-bottom: 15px; */
    padding-left: 0;
    padding-right: 15px;
    
}

.footer-columna:nth-child(4){
    /* background-color: aqua; */
    width: 25%;/*porque son 4*/
    /* padding-bottom: 15px; */
    padding-left: 0;
}

.footer-columna:nth-child(2) li,.footer-columna:nth-child(3) li{
    border-bottom: 1px solid #747373;
}


li{
    list-style: none;
}

.footer-columna li a,h3{
    padding: 11px 0;
    color:#fff;
    display:inline-block;
    text-transform: capitalize;
    text-decoration: none;
 
}

.footer-columna li a:hover{
    transition: all 500ms ease;
    text-decoration: none;
    cursor:pointer;
    color: #428bca;
}

i{
    padding-right: 10px;
}

h2{
    /* content:''; */
    display: block;
    background-color:#0475be;
    width: 40px;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

}